


/* For mobile phones: */
[class*="col-"] 
{
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-1 {width: 8.33%;}

    .col-2 {width: 16.66%;}

    .col-3 {width: 25%;}

    .col-4 {width: 33.33%;}

    .col-5 {width: 41.66%;}

    .col-6 {width: 50%;}

    .col-7 {width: 58.33%;}

    .col-8 {width: 66.66%;}

    .col-9 {width: 75%;}

    .col-10 {width: 83.33%;}

    .col-11 {width: 91.66%;}

    .col-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}

    .col-2 {width: 16.66%;}

    .col-3 {width: 25%;}

    .col-4 {width: 33.33%;}

    .col-5 {width: 41.66%;}

    .col-6 {width: 50%;}

    .col-7 {width: 58.33%;}

    .col-8 {width: 66.66%;}

    .col-9 {width: 75%;}

    .col-10 {width: 83.33%;}

    .col-11 {width: 91.66%;}

    .col-12 {width: 100%;}
}



.account-box 
{
    min-width: 300px;
    max-width: 500px;
    height: 85vh;
    background: #0048AA;
    border-radius: 10px;
    margin-top: -8px;
    margin-left: 27%;
}

.profile-image > img
{
    border: 2px solid white;
    border-radius: 100%;
    margin: 8% 3% 2% 35%;
}

.profile-image > h1
{
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 5%;
}

.profile-content > h2 
{
    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #1c2c54;
    border: 2px solid white;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
    margin-top: 6.5%;
    margin-left:17%;
}

.btn-edit 
{
    background-color: forestgreen;
    color: white;
    height: 51px;
    width: 192px;
    text-align: center;
    margin-left: 31.5%;
    margin-top: 6.5%;
    border: white 2px solid;
    border-radius: 15px 15px 15px 15px;
}

.btn-edit:hover 
{
    background-color: #1c2c54;
    color: white;
    height: 51px;
    width: 192px;
    text-align: center;
    margin-left: 31.5%;
    margin-top: 6.5%;
    border: white 2px solid;
    border-radius: 15px 15px 15px 15px;
}

.editaccount-box 
{
    min-width: 300px;
    max-width: 500px;
    min-width: 300px;
    height: 85vh;
    background: #0048AA;
    border-radius: 10px;
    margin-top: -8px;
    margin-left: 27%;
}

.editaccount-box > h1 
{
    color: white;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 5%;
}

.btn-upload 
{
    height: 30px;
    width: 130px;
    margin-left: 5%;
    margin-top: 5%;
    border: white 1px solid;
    border-radius: 15px 15px 15px 15px;
    background-color: darkblue;
    color: white;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
}

.btn-change
{
    height: 50px;
    width: 250px;
    margin-left: 25%;
    margin-top: 5%;
    border: white 1px solid;
    border-radius: 15px 15px 15px 15px;
    background-color: forestgreen;
    color: white;
    font-weight: bold;
    font-size: 20px;
}