@{
    Layout = "_Layout"; ViewBag.Title = "Chat Box";
}


<div id="chat-container">
    <div id="search-container">
        <input type="text" placeholder="Search" id="search-conversation-input" />
        <i class="fas fa-search" id="conversation-search-button"></i>
    </div>
    <div id="conversation-list" class="conversations-list">
        <div class="conversation active">
            <img src="~/images/profile6.jpg" alt="Daryl Duckmanton" />
            <div class="title-text">
                Daryl Duckmanton
            </div>
            <div class="created-date">
                Apr 16
            </div>
            <div class="conversation-message">
                This is a message
            </div>
        </div>
        <div class="conversation">
            <img src="~/images/profile4.jpg" alt="Kim O`Neil" />
            <div class="title-text">
                Kim O`Neil
            </div>
            <div class="created-date">
                Jun 4
            </div>
            <div class="conversation-message">
                Very funny
            </div>
        </div>
        <div class="conversation">
            <img src="~/images/profile6.jpg" alt="John Anderson" />
            <div class="title-text">
                John Anderson
            </div>
            <div class="created-date">
                Aug 23
            </div>
            <div class="conversation-message">
                Yes I love how Python does that
            </div>
        </div>
        <div class="conversation">
            <img src="~/images/profile4.jpg" alt="Sarah Momes" />
            <div class="title-text">
                Sarah Momes
            </div>
            <div class="created-date">
                1 year
            </div>
            <div class="conversation-message">
                Thank you.I appreciate that.
            </div>
        </div>
        <div class="conversation">
            <img src="~/images/profile6.jpg" alt="Carl Anderson" />
            <div class="title-text">
                Carl Anderson
            </div>
            <div class="created-date">
                Dec 24
            </div>
            <div class="conversation-message">
                Merry Christmas!
            </div>
        </div>
    </div>
    <div id="new-conversation-container" class="new-conversation-container">
        <img src="~/images/add_green3.png" id="new-conversation-button" width="40" height="40" alt="New Conversation" style="margin-top: -3px; margin-left: 0px" />
    </div>
    <div id="chat-title-container" class="chat-title-container">
        <span id="chat-title">Daryl Duckmanton</span>
        <img src="~/images/settings2.png" width="40" height="40" alt="Conversation settings" />
    </div>
    <div id="chat-message-list">
        
    </div>

    <div id="chat-form">
        <input id="message_input" class="col-md-10" type="text" placeholder="type a message" style="margin-top: 1.7%; height:52px; margin-left:2%;" />
        <button id="send_btn" class="btn-send" type="button">Send</button>
    </div>
</div>

<!--Adding the script references-->
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>