@{
    Layout = "_Layout"; ViewBag.Title = "Chat Box";
}


<div id="chat-container">
    <div id="search-container">
        <input type="text" placeholder="Search" id="search-conversation-input" />
        <i class="fas fa-search" id="conversation-search-button"></i>
    </div>
    <div id="conversation-list" class="conversations-list">
        
    </div>
    <div class="chat-navbar" style="margin:0; padding:0">
        <div id="new-conversation-container">

            <i class="fas fa-comment-medical  chat-navbar-icon" id="new-conversation-button" style="font-size:30px; color:snow; margin-left:20%;"></i>
            <div>
                <span style="font-size:10px; color:snow; margin-left:-5%">New Conversation</span>
            </div>
        </div>
        <div>
            <i class="fas fa-user-plus chat-navbar-icon" style="font-size:30px; color:lawngreen; margin-left:10%"></i>
            <div>
                <span style="font-size:10px; color:snow; ">Add Contact</span>
            </div>

        </div>
        <div>

            <i class="fas fa-user-cog chat-navbar-icon" style="font-size:30px; color:snow; margin-left:10%"></i>
            <div>
                <span style="font-size:10px; color:snow; margin-left:0%">User Settings</span>
            </div>

        </div>
        <div>

            <i class="fas fa-circle chat-navbar-icon" style="font-size:18px; color:lawngreen; margin-left:15%;"></i>
            <div>
                <span style="font-size:10px; color:snow; margin-left:5%">Available</span>
            </div>

        </div>
    </div>
    <div id="chat-title-container" class="chat-title-container">
        <span id="chat-title"></span>
        <i class="fas fa-cog"></i>
    </div>
    <div id="chat-message-list">
       
    </div>

    <div id="chat-form">
        <input id="message_input" class="col-md-10" type="text" placeholder="type a message" style="margin-top: 1.7%; height:52px; margin-left:2%;" />
        <div class="container_send-btn">
            <button id="send_btn" class="btn-send" type="button">Send</button>
        </div>
    </div>
</div>

<!--Adding the script references-->
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>