@{
    Layout = "_Layout"; ViewBag.Title = "Chat Box";
}

<div class="chatbox">
    <div class="msg-header">
        <div class="msg-header-img">
            <img src="~/images/user2.png" style="max-width:100%; border-radius: 50%;" />
        </div>
        <div class="active">
            <h4>John Lewis</h4>
            <h6>3 hours ago...</h6>
        </div>
    </div>
    <div class="chat-page">
        <div class="msg-inbox">
            <div class="chats">
                <div class="msg-page" id="messages">
                    <!-- There goes the javascript magic -->
                </div>
            </div>
        </div>
        <div class="msg-bottom">
            <div class="bottom-icons">
                <i class="fa fa-plus-circle"></i>
                <i class="fa fa-camera"></i>
                <i class="fa fa-microphone"></i>
                <i class="fa fa-smile-o"></i>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="write message..." id="message_input" />
                <div class="input-group-append" id="send_btn">
                    <span class="input-group-text"><i class="fa fa-paper-plane"></i></span>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Adding the script references-->
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>
