@{
    Layout = "_Layout"; ViewBag.Title = "Chat Box";
}


<div id="chat-container">
    <div id="search-container">
        <input type="text" placeholder="Search" id="search-conversation-input" />
    </div>
    <div id="conversation-list">
        <div class="conversation active">
            <img src="~/images/profile6.jpg" alt="Daryl Duckmanton" style="border:2px solid snow"/>
            <div class="title-text">
                Daryl Duckmanton
            </div>
            <div class="created-date">
                Apr 16
            </div>
            <div class="conversation-message">
                This is a message
            </div>
        </div>
        <div class="conversation">
            <img src="~/images/profile4.jpg" alt="Kim O`Neil" style="border:2px solid snow" />
            <div class="title-text">
                Kim O`Neil
            </div>
            <div class="created-date">
                Jun 4
            </div>
            <div class="conversation-message">
                Very funny
            </div>
        </div>
        <div class="conversation">
            <img src="~/images/profile6.jpg" alt="John Anderson" style="border:2px solid snow"/>
            <div class="title-text">
                John Anderson
            </div>
            <div class="created-date">
                Aug 23
            </div>
            <div class="conversation-message">
                Yes I love how Python does that
            </div>
        </div>
        <div class="conversation">
            <img src="~/images/profile4.jpg" alt="Sarah Momes" style="border:2px solid snow" />
            <div class="title-text">
                Sarah Momes
            </div>
            <div class="created-date">
                1 year
            </div>
            <div class="conversation-message">
                Thank you.I appreciate that.
            </div>
        </div>
        <div class="conversation">
            <img src="~/images/profile6.jpg" alt="Carl Anderson" style="border:2px solid snow"/>
            <div class="title-text">
                Carl Anderson
            </div>
            <div class="created-date">
                Dec 24
            </div>
            <div class="conversation-message">
                Merry Christmas!
            </div>
        </div>
    </div>
    <div id="new-message-container" style="margin-top:-5%;">
        <a href="#">
            <i class="fas fa-comment-medical" style="font-size:30px; color:snow"></i>
            <span style="font-size:10px; color:snow; margin-left:8%;">New</span>
        </a>
    </div>
    <div class="container" style="margin-top:-22.5%; margin-left:23%">
        <a asp-controller="Profile" asp-action="AddContact">
            <i class="fas fa-user-plus" style="font-size:30px; color:lawngreen"></i>
            <div>
                <span style="font-size:10px; color:snow; margin-top:20px; margin-left:-5%;">Add Contact</span>
            </div>
        </a>
    </div>
    <div class="container" style="margin-left:-18%; margin-top:-8.50%;">
        <a asp-controller="Profile" asp-action="Account">
            <i class="fas fa-user-cog" style="font-size:30px; color:snow"></i>
            <div>
                <span style="font-size:10px; color:snow; margin-left:-2%;">User Settings</span>
            </div>
        </a>
    </div>
    <div class="container" style="margin-left:81%; margin-top:-19.5%;">
        <a href="#">
            <i class="fas fa-circle" style="font-size:18px; color:lawngreen"></i>
            <div>
                <span style="font-size:10px; color:snow; margin-left:-4%;">Available</span>
            </div>
        </a>
    </div>
    <div id="chat-title">
        <span>Daryl Duckmanton</span>
        <i class="fas fa-cog"></i>
    </div>
    <div id="chat-message-list">
        <div class="message-row you-message">
            <div class="message-content">
                <div class="message-text">Ok then</div>
                <div class="message-time">Apr 16</div>
            </div>
        </div>
        <div class="message-row other-message">
            <div class="message-content">
                <img src="~/images/profile6.jpg" width="40" height="40" alt="Daryl Duckmanton" style="border:solid 2px dimgray;"/>
                <div class="message-text">
                    Yeah I think it`s best we do that. Otherwise things won`t
                    work well at all. I`m adding more text here to test the
                    sizing of the speech bubble and the wrapping of it too.
                </div>
                <div class="message-time">Apr 16</div>
            </div>
        </div>
    </div>

    <div id="chat-form">
        <input id="message_input" class="col-md-10" type="text" placeholder="type a message" style="margin-top: 1.7%; height:52px; margin-left:2%;" />
        <button id="send_btn" class="btn-send" type="button">Send</button>
    </div>
</div>

@Html.Hidden("username", Context.User.Identity.Name)
@Html.Hidden("chatroom", -1)

<!--Adding the script references-->
<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>