@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="members-container">
    <h1>See Members</h1>
    <div style="margin-top:10%">
        <ul>
            <li>Adele</li>
            <li>Agnes</li>
            <li>Billy</li>
            <li>Bob</li>
            <li>Calvin</li>
            <li>Christina</li>
            <li>Cindy</li>
        </ul>
    </div>
</div>