@{
    Layout = "_Layout"; ViewBag.Title = "Account";
}


<div class="account-box">
    <div class="profile-image">
        <img src="~/images/profile1.jpg" width="150" height="150" />
        <h1>John Kennedy</h1>
    </div> 
    <div class="profile-content">
        <h2 class="col-md-8">Age: 24</h2>
        <h2 class="col-md-8">Date Of Birth: 15-Jan-1996</h2>
        <h2 class="col-md-8">You live in: Londra, UK</h2>
        <h2 class="col-md-8">Works at: Google</h2>
    </div>
    <a class="btn btn-edit" type="submit" asp-controller="Profile" asp-action="EditAccount">Edit Profile</a>
</div>