@{
    Layout = "_Layout"; ViewBag.Title = "Add Contact";
}


<div class="contactbox">
    <p style="color:white; font-weight:bold; font-size:30px; text-align:center;">Find Contact</p>
    <form class="example" action="/action_page.php">
        <input type="text" placeholder="Search.." name="search">
        <button type="submit"><i class="fa fa-search"></i></button>
    </form>
    <img src="~/images/profile1.jpg" height="70" width="70" style="border-radius: 50%; margin:4%; border: 2px solid white" />
    <a href="#">
        <i class="fas fa-plus-circle" style="font-size:30px; color:greenyellow; margin-left:58%; margin-top:5%;"></i>
    </a>
    <div class="card">
        <div class="container2">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
        </div>
    </div>
    <img src="~/images/profile2.jpeg" height="70" width="70" style="border-radius: 50%; margin:4%; border: 2px solid white" />
    <i class="fas fa-plus-circle" style="font-size:30px; color:greenyellow; margin-left:58%; margin-top:5%;"></i>
    <div class="card">
        <div class="container2">
            <h4><b>Billy Jon</b></h4>
            <p>Teacher</p>
        </div>
    </div>
    <img src="~/images/profile3 (2).jpg" height="70" width="70" style="border-radius: 50%; margin:4%; border: 2px solid white" />
    <i class="fas fa-plus-circle" style="font-size:30px; color:greenyellow; margin-left:58%; margin-top:5%;"></i>
    <div class="card">
        <div class="container2">
            <h4><b>Mary Rose</b></h4>
            <p>Lawyer</p>
        </div>
    </div>
    <img src="~/images/profile4.jpg" height="70" width="70" style="border-radius: 50%; margin:4%; border: 2px solid white" />
    <i class="fas fa-plus-circle" style="font-size:30px; color:greenyellow; margin-left:58%; margin-top:5%;"></i>
    <div class="card">
        <div class="container2">
            <h4><b>Frank Eduard</b></h4>
            <p>Student</p>
        </div>
    </div>
    <img src="~/images/profil7.jpg" height="70" width="70" style="border-radius: 50%; margin:4%; border: 2px solid white" />
    <i class="fas fa-plus-circle" style="font-size:30px; color:greenyellow; margin-left:58%; margin-top:5%;"></i>
    <div class="card">
        <div class="container2">
            <h4><b>Carla Maria</b></h4>
            <p>Student</p>
        </div>
    </div>
</div>