@{
    Layout = "_Layout"; ViewBag.Title = "EditAccount";
}


<div class="editaccount-box">
    <form action="/action_page.php">
        <label for="fname" style="color:white; font-weight:bold; font-size: 20px; margin-top:16%; margin-left: 20%;">Username:</label>
        <input type="text" id="fname" name="fname" style="border:black 2px solid; border-radius:5px 5px 5px 5px;"><br><br>
        <label for="fname" style="color:white; font-weight:bold; font-size: 20px; margin-top:5%; margin-left:20%">Profile Photo:</label>
        <input class="btn-upload" type="button" value="Upload" style="border:black 2px solid; border-radius:5px 5px 5px 5px;"><br><br>
        <label for="fname" style="color:white; font-weight:bold; font-size: 20px; margin-top:5%; margin-left:19%">First name:</label>
        <input type="text" id="fname" name="fname" style="border:black 2px solid; border-radius:5px 5px 5px 5px;"><br><br>
        <label for="lname" style="color:white; font-weight:bold; font-size: 20px; margin-top:5%; margin-left:20%">Last name:</label>
        <input type="text" id="lname" name="lname" style="border:black 2px solid; border-radius:5px 5px 5px 5px;"><br><br>
        <label for="fname" style="color:white; font-weight:bold; font-size: 20px; margin-top:5%; margin-left:21.5%">Password:</label>
        <input type="text" id="fname" name="fname" style="border:black 2px solid; border-radius:5px 5px 5px 5px;"><br><br>
        <input class="btn-change" type="submit" value="Change">
    </form>
</div>