@{
    ViewData["Title"] = "Home Page";
}

@model Login

@if (Model != null)
{
    <h1>Hello @Model.Username</h1>
    <button class="btn btn-edit" asp-controller="Profile" asp-action="Logout">Log Out</button>
}
else
{
    <h1>Model is null</h1>
}


<script type="text/javascript">

</script>
