<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Messenger_Web_App</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <script src="https://kit.fontawesome.com/c3e9a83437.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/AddContact.css" rel="stylesheet" />
    <link href="~/css/Account.css" rel="stylesheet" />
    <link href="~/css/ChatBox.css" rel="stylesheet" />
    <link href="~/css/Index.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom box-shadow mb-3" style="background: #2c437d; opacity: 0.85; height:50px;">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <img src="~/images/message-256.png" width="40" height="40" />
                <span style="color:white; font-size:16px;">MESSENGER</span>
            </a>
            @if (!Context.User.Identity.IsAuthenticated)
            {
                <a class="btn btn-navbar" style="margin-left:80%"  asp-area="" asp-controller="Profile" asp-action="Register">
                    <span>Register</span>
                </a>
                <a class="btn btn-navbar" asp-area="" asp-controller="Profile" asp-action="Login">
                    <span>Log in</span>
                </a>  
            }
            else
            {
                <a class="btn btn-navbar" style="margin-left:1%" asp-area="" asp-controller="Messages" asp-action="ChatBox">
                    <span>Chat</span>
                </a>
                <a class="btn btn-navbar" asp-area="" asp-controller="Profile" asp-action="Account">
                    <span>Account</span>
                </a>  
                <form method="post" style="margin-left:74%">
                    <button class="btn btn-navbar" type="submit"  asp-action="Logout" asp-controller="Profile">Log Out</button>
                </form>
            }                 
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="color:white;">
            &copy; 2020 - Messenger Web App
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
